.profile__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    
}

@media screen and (max-width: 762px) {
    .profile__box {
        flex-direction: column;
        gap: 26px;
    }
}