.profile__add {
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-image: url(../../../images/plus.svg);
    background-size: 22px 22px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__add:hover {
    opacity: .6;
}

@media screen and (max-width: 762px) {
    .profile__add {
        width: 282px;
        background-size: 16px 16px;
    }
}