.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}