.profile__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    max-width: 100%;
}

@media screen and (max-width: 320px) {
    .profile__name {
        max-width: 282px;
        gap: 10px;
    }    
}